@import url('https://fonts.googleapis.com/css2?family=Alata&family=Baloo+Tamma+2:wght@400;700&family=Lora:wght@400;700&family=Quicksand:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kufam:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Merriweather:wght@300;400;700&family=Quicksand:wght@300;500;700&family=Raleway:wght@200;300;400;500;600;700&family=Syne:wght@400;500;615;700&display=swap');

body, html {
font-family: 'Syne', sans-serif;
background: rgb(244,191,201);
background: linear-gradient(90deg, rgba(244,191,201,1) 12%, rgba(237,216,219,0.8211659663865546) 37%, rgba(255,225,235,1) 78%);

}
a {
    color: #7b6157;
    font-weight:700;
}
h1, h2, h3, h4, h5, h6{
    font-family:'Merriweather', sans-serif;
    font-weight:700;
        color: #7b6157;
}
nav .brand-logo{
    position:relative;
    font-family:'Merriweather', sans-serif;
}
header .nav-wrapper a:hover {
    color: #fff;

}
.navbar-fixed nav {
    position: fixed;
    padding: 0 20px;
}
.side-nav{
background-color: #4d6d9a ;
}
.light-blue-text.text-darken-4, .side-nav li>a {
    color: #7b6157;
}
}

.user p{
    font-size: 0.8rem;
    font-weight: 700;
}

.cafe-image{
    width: 100%;  
    height: 100%;
    object-fit: cover;
}

.memory-card-container{
    padding:10px;
}
.memory-photo-wrapper h2 {
    color: #463636;
    min-height: 0;
    padding-top: 10px;
}
.cafe-view-photo{
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.btn, .btn-flat{
    background-color: #cec88a;
}
.form-wrapper {
    background: rgba(255,255,255,0.6);
    padding:40px 15px !important;
    border-radius:10px;
}

.card-panel {

    background-color: rgba(255,255,255,0.6);
}


.h2, h2 {
    font-size: 1rem;
    text-transform: uppercase;
    margin: 10px 0;
}

ul.inlineblock li{
    display: inline-block;
    border-right: 1px solid #666;
    padding: 0 8px;
}

ul.inlineblock li a {
    color: #7b6157;
    font-weight: 700;
}

[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:after {
    background-color: #e21948;
}
[type="radio"]:checked+label:after, [type="radio"].with-gap:checked+label:before, [type="radio"].with-gap:checked+label:after {
    border: 2px solid #e21948;
}

.sorter{
        margin: 30px 0 0 0;
}




img {
    max-width: 100%;
}


.ratings .material-icons, label .material-icons{
 
     color: #bdb44a;
}

.text-shadow{
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}
.flash h4{
    line-height:2;
}
.memory_photo{
    max-width:250px;
}

.memory-photo-wrapper{
    background:#edb5bf;
    padding:1rem;
}


.memory-photo-wrapper h2{
        color: #463636;
        min-height: 37px;
}


.memory-photo-wrapper h2 i{
    margin-right:10px;
}

.memory-photo{
    width:100%;
    height:150px;
    object-fit:cover;
}

.edit-memory .memory-photo{
    width:450px;
    height:350px;
}
.edit-memory .memory-photo-wrapper{
    max-width:470px;
}

.main-content{
    padding:20px 0;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.profile-photo, .memory_photo{
    max-width:250px;
    max-height:250px;
}

.user_photo{
    width:45px;
    height:45px;
}
.cafe-description{
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;
   padding: 10px 0 0 0;
}

.ratings, .user{
   padding: 10px 0 0 0;
}
.user_photo{
    border-radius:45%;
}

nav {
    background-color: transparent !important;
    box-shadow: none;
}
.pagination li a {
    display: block;
    background: transparent;
    color: #7b6157;
}
.pagination li.active {
    background-color: transparent;
}

.page-link:hover {
    background-color: transparent;
    border-color: #506982;
}

.page-link {
    padding: .3rem .75rem;
}


.page-item.active .page-link {
    background: transparent;
    color: #7b6157;
}
.page-item.disabled .page-link {
    background: transparent;
    color: #ab2727;
}
.page-link:hover {
    background-color: none;
    border-color: none;
}
.page-item.active .page-link {
    background-color: none;
    border: none;
}

.pagination li {
    overflow: hidden;
}


.page-link:hover {
    background-color: transparent;
    border-color: #dee2e6;
    color: #544f4f;
}

.page-link {
    border: none;
}

.memory-card {
    background: #b8cedc;
    border: 1px solid #eee;
    margin: 0 0 20px 0;
    padding: 0 ;
    border-radius: 8px;
}
.memory-card > .row{
    margin-bottom:0;
    width: 100%;
}   
.memory-card .date{
    background:#86b3d1;
    padding:10px 8px;
    color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}


.light-blue.darken-1 {
    background-color: #4d6d9a!important;
    padding:0 15px;
}

.modal {
    width: 80%;
    height: 90%;
    overflow-y: scroll;
    background: #ffe1eb;
}
.modal h1, .modal h2, .modal h3, .modal h4 {
    margin-top: 0;
    margin-bottom: 13px;
}
.modal .modal-content {
     padding: 2px;
    background:transparent;
    height:100%;
    border:none;
}
.modal .modal-content .first-time{
 background:#b8cedc;
    height:100%;
    max-height:100%;
}
.close-button{
    position:absolute;
    right:10px;
    float: right;
    width: 20px;
    right: 5px;
    font-size: 1.5rem;
    top: 0;
}

.input-field .prefix ~ input, .input-field .prefix ~ textarea, .input-field .prefix ~ label, .input-field .prefix ~ .validate ~ label, .input-field .prefix ~ .autocomplete-content {
    padding: 0 0 0 8px;
}

.navbar-fixed {
    z-index: 8;
}


#sidenav-overlay {
    z-index: 7;
}

.mat-drawer-container {
  position: relative;
  z-index: 1;
}

.mat-drawer-content {
  position: relative;
  z-index: 1;
}

.app-item {
  cursor: pointer;
}
@media screen and (min-width:1100px){
    .modal {
        max-height: 315px;
    }
}

@media screen and (max-width:1100px){
    .modal{
        max-width:90%;
    }
}
@media screen and (max-width:997px){

    .welcome.d-inline{
        display:none !important;
    }
        
}

@media screen and (max-width:768px){
    nav .brand-logo {
    font-size: 1rem;
}
    .user p{
        font-size: 1rem;
        font-weight: 700;
    }
    .user_photo{
        margin:0 0 20px 0;
    }
    .memory-card > .row {
        margin-bottom: 0;
        width: 100%;
        margin: 0;
    }
  
    ul.inlineblock li {
        padding: 0 8px;
        margin: 0 0 5px 0;
    }
    h1{
        font-size:2rem;
    }
    .row{
        display:block;
    }
    .btn{
        margin:0 0 20px 0;
    }

    .side-nav li>a {
    color: rgba(0,0,0,0.87);
    display: block;
    font-size: 14px;
    font-weight: 700;
    height: 48px;
    line-height: 48px;
    border-bottom: 1px solid #7793bb;
    padding: 0 32px;
}

.side-nav li>a:hover {
    background-color: #ad81a4;
    text-decoration: none;
}

}

@media (min-width: 576px)
{
 .col-sm-6 {
    max-width: 100%;
 }
}
