
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Baloo+Tamma+2:wght@400;700&family=Lora:wght@400;700&family=Quicksand:wght@300;500;700&family=Roboto:ital,wght@0,100;0,300;0,700;1,700&display=swap');
body, html {
font-family: 'Quicksand', sans-serif !important;
background: #edb5bf;
background: -moz-linear-gradient(top,  rgba(231,211,232,1) 0%, rgba(232,171,234,0.18) 64%, rgba(232,168,234,0.18) 69%, rgba(232,168,234,0.18) 98%, rgba(232,168,234,0.18) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(231,211,232,1) 0%,rgba(232,171,234,0.18) 64%,rgba(232,168,234,0.18) 69%,rgba(232,168,234,0.18) 98%,rgba(232,168,234,0.18) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(231,211,232,1) 0%,rgba(232,171,234,0.18) 64%,rgba(232,168,234,0.18) 69%,rgba(232,168,234,0.18) 98%,rgba(232,168,234,0.18) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7d3e8', endColorstr='#2ee8a8ea',GradientType=0 ); /* IE6-9 */

}

.h2, h2 {
    font-size: 1rem;
    text-transform: uppercase;
}

img {
    max-width: 100%;
}

.text-shadow{
    text-shadow:2px 2px 2px rgba(0,0,0,0.5);
}
.flash h4{
    line-height:2;
}
.memory_photo{
    max-width:250px;
}

.memory-photo-wrapper{
    background:#edb5bf;
    padding:1rem;
}
.memory-photo{
    width:100%;
    height:150px;
    object-fit:cover;
}

.main-content{
    padding:20px 0;
}

* { box-sizing: border-box; }
body {
  font: 16px Arial;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}
.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}
.autocomplete-active {
  /*when navigating through the items using the arrow keys:*/
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.profile-photo, .memory_photo{
    max-width:250px;
    max-height:250px;
}

.user_photo{
    width:50px;
    height:50px;
}
.cafe-description{
  /*  */display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;  
  overflow: hidden;

   padding: 10px;
}

.user_photo{
    border-radius:45%;
}

nav {
    background-color: transparent !important;
    box-shadow: none;
}
.pagination li a {
    display: block;
    background: #4d6d9a;
    color: #fff;
}
.page-item.active .page-link {
    background-color: #039be5;
    border-color: #039be5;
}
.page-item.disabled .page-link {
    color: #fff;
 
    background-color: #6c757d;
    /* border-color: #dee2e6; */
}
.pagination li {
    overflow: hidden;
}


.page-link:hover {

    background-color: #4d6d9a;
    border-color: #dee2e6;
}

.page-link {
    border: none;
}

.memory-card {
    background: #b8cedc;
    border: 1px solid #eee;
    margin: 0 0 20px 0;
    padding: 0 0 10px 0;
}
.memory-card .date{
    background:#86b3d1;
    padding:10px 0;
    color: #fff;

}


.light-blue.darken-1 {
    background-color: #4d6d9a!important;
    padding:0 15px;
}