{% extends 'base.html' %} {% block content %}
<h1 class="page-title">Add a Cafe</h1>
<div class="row no-margin-bottom">
 <div class="col s12 form-wrapper">
    <form action="{{ url_for('insert_cafe') }}" method="POST"  class="col s12">
       <div class="row no-margin-bottom">
                <div class="col s12">
                <div class="row no-margin-bottom">
                    <div class="input-field col s12">
                    <i class="material-icons prefix">map</i>
                    <input type="text" id="area_name" class="autocomplete validate" name="area_name" autocomplete="off" 
                         required="" aria-required="true" 
                         oninvalid="this.setCustomValidity('Please enter an area name.')"
                　       oninput="this.setCustomValidity('')" >
                    <label for="autocomplete-input">Area Name : Start typing a name to find area</label>
                    </div>
                </div>
                </div>
            </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_cafe</i>
                     <input id="cafe_name"    name="cafe_name" type="text" class="validate" 
                       required="" aria-required="true"
                        oninvalid="this.setCustomValidity('Please enter a cafe name.')"
                      　oninput="this.setCustomValidity('')">
                <label for="icon_prefix">Cafe name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">web</i>
                 <input id="website"  name="website" type="text" 
                　oninput="this.setCustomValidity('')">
                <label for="icon_telephone">Website</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">location_city</i>
                 <input id="address" name="address" type="text" class="validate" 
                  required="" aria-required="true"
                  oninvalid="this.setCustomValidity('Please enter an address.')"
                　oninput="this.setCustomValidity('')">
                <label for="icon_telephone">address</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_post_office</i>
                 <input id="postcode" name="postcode" type="text" class="validate" 
                  required="" aria-required="true"
                  oninvalid="this.setCustomValidity('Please enter a postcode.')"
                　oninput="this.setCustomValidity('')">
                <label for="icon_telephone">postcode</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">monochrome_photos</i>
                 <input id="photo" name="photo" type="text" 
                  class="validate"  required="" aria-required="true"
                  oninvalid="this.setCustomValidity('Please enter link to the photo.')"
                  oninput="this.setCustomValidity('')">
                <label for="icon_telephone">photo</label>
                 <span>Please add a link to your photo. (<a href='https://cloudinary.com/users/login' target="_blank">Login to your Cloudinary account</a>)</span>
            </div>
        </div>
         <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">movie</i>
                 <input id="youtube" name="youtube" type="text" >
                <label for="icon_telephone">Youtube Link</label>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" >Submit
                <i class="material-icons right">playlist_add</i>
             </button>
        </div>
    </form>
</div>
</div>
<script>
  // I left this code as this is includins Jinja code, which is generating json code.
  $(document).ready(function(){
    let areanames = JSON.parse({{ areanames | tojson | safe }}); 
   autoCompleteArea(areanames);
  });
</script>
{% endblock %}
