<!DOCTYPE html>
<html>

<head>
      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

     <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}?v=1565156" type="text/css"/>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script type="text/javascript"  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxC5b3wNV-jG0q82g355HOZ3ucc8q9igw&sensor=false"></script>
</head>

<body>

<header>
 <div class="navbar-fixed">
     <nav class="nav-extended text-shadow light-blue darken-1">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"><i class="material-icons dp48">cake</i>My Cafe Memories</a>  {% if session.user %} <span>Hello, {{ session.user }} !!</span>      {% endif %}
      <a href="#" data-activates="mobile-demo" class="button-collapse sudenav-trigger right"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/">Home</a></li>
        {% if session.user %}
        <li><a href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
        <li><a href="{{ url_for('your_memories', sort='ratings', order='asc', username=session['user']) }}">Your Memories</a></li>
        <li><a href="{{ url_for('add_cafe') }}">Add Cafe</a></li>
        <li><a href="{{ url_for('add_memory') }}">Add Memory</a></li> 
  
        <li><a href="{{ url_for('get_cafes' , sort='cafe_name', order='asc') }}">Manage Cafes</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>   
        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>        
        <li><a href="{{ url_for('register') }}">Register</a></li>   
        {% endif %}
      </ul>
      <ul class="side-nav" id="mobile-demo">
      <li><h4 class="center-align light-blue-text text-darken-4">Task Manager</h4></li>
        <li><a href="/">Home</a></li>
        {% if session.user %}
        <li><a href="{{ url_for('profile', username=session['username']) }}">Profile</a></li>
        <li><a href="{{ url_for('add_cafe') }}">Add Cafe</a></li>
        <li><a href="{{ url_for('add_memory') }}">Add Memory</a></li> 
 
        <li><a href="#">Manage Categories</a></li>
        <li><a href="{{ url_for('logout') }}">Log Out</a></li>   
        {% else %}
        <li><a href="{{ url_for('login') }}">Log In</a></li>        
        <li><a href="{{ url_for('register') }}">Register</a></li>   
        {% endif %}
      </ul>
    </div>
  </nav>
  </div>
 
</header>
<div class="container">
<section>
{% with messages = get_flashed_messages() %}
 {% if messages %}
    {% for message in messages %}
    <div class="row flashes">
     <h4 class="light-blue-ligten-4 center-align">{{ message }}</h4>
    </div>
    {% endfor %}
  {% endif %}
{% endwith %}
</section>
<section class="main-content">
    {% block content %} {% endblock %}
</section>    
</div> <!-- /-container -->
  


    <script type="text/javascript">
       $(document).ready(function() {
           $(".button-collapse").sideNav({edge:"right"});
            //  $('.side-nav').sidenav();
               $('select').material_select();



        $('.searchcafe').keyup(function(event) {
        return $.getJSON(
            '/cafe_autocomplete/'+$('.searchcafe').attr('sortvalue'), 
             function (data) {
                console.log(data) ; 
                return process(data);
             });
        });  



        });

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15, // Creates a dropdown of 15 years to control year,
            today: 'Today',
            clear: 'Clear',
            close: 'Ok',
            closeOnSelect: false // Close upon selecting a date,
        });
        $('.datepicker').on('mousedown',function(event){
            event.preventDefault();
        });



        $('.sort').click(function(event) {
        return $.getJSON(
            '/sort_memories/'+$(this).val(), 
             function (data) {
                console.log(data) ; 
                return process(data);
             });
        });  



</script>
<script src="https://kit.fontawesome.com/6019d8e6c9.js" crossorigin="anonymous"></script>
</body>

</html>