 {% extends 'base.html' %} {% block content %}

              <div class="memory-card cafe-card">
                        <div class="date text-center">
                            <p class="d-inline">{{ cafe.cafe_name }}</p>
                            <p class="d-inline float-right">{{cafe.area_name}}</p>
                        </div>
                        <div class="row">
                        <div class="col-sm-6 text-center">
                                <div class="memory-photo-wrapper">
                                <a href="{{url_for('cafe', cafe_id=cafe._id)}}" class="">

                                {% if youtube: %}
                                    <iframe width="100%" height="350" src="{{ youtube }}" frameborder="0" allowfullscreen></iframe>
                                    {% elif cafe.photo: %}
                                    <img src="{{ cafe.photo }}" alt="{{ cafe.cafe_name }}"   class="cafe-view-photo" />
                                    {% endif %}


                                </a> 
                         
                
                    </div> 
            </div>
            <div class="col-sm-6"> 
            <div class="cafe-description">
            <p>{{ cafe.address }}</p>
             <p>{{ cafe.postcode }}</p>
            <p><a href="{{ cafe.website }}" target="_blank"><i class="material-icons tiny">web</i>Website</a> </p>
            </div> 

            </div>           
          </div>      
       </div>



  <div class="row">

{% for memory in memories %}
    {% if not  memory.is_private  %}

<div class="col-sm-6">
   <div class="memory-card">
        <div class="date text-center">
           {{memory.date}} 
        </div>
        <div class="row">
           <div class="col-sm-6 text-center">
                 <div class="memory-photo-wrapper">
                 <a href="{{url_for('cafe', cafe_id = memory.cafe_id)}}">
                   <img src="{{memory.photo}}" alt="" class=" memory-photo">
                  </a> 
                    <h2><i class="tiny material-icons">local_cafe</i>{{memory.cafe_name}}</h2>
                    <p> 

         
     

                      </p>
                 </div> 
           </div>
          <div class="col-sm-6"> 

       {% if memory.ratings %} 
             <div class="ratings">
                {% if memory.ratings == "5" %} 
                   <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                {% elif memory.ratings == "4" %}
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                  {% elif memory.ratings == "3" %}
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                  {% elif memory.ratings == "2" %}
                      <i class="material-icons">star</i><i class="material-icons">star</i>
                  {% elif memory.ratings == "1" %}
                   <i class="material-icons">star</i>
                {% endif %}
                </div>
            {% endif %}

           <div class="cafe-description"><p>{{memory.description}}</p></div> 
                    {% if  memory.user == session.user %}   
                    <div class="user">
                        <p class="yourself d-inline">{{memory.user}}</p>
                        <img src="{{ memory.userphoto }}" class="user_photo d-inline" alt="{{memory.user}} Photo" />
                      </div>
                        {% else %} 
                      <div class="user"> 
                        <p class="d-inline">Posted by:{{memory.user}}</p>
                        <img src="{{ memory.userphoto }}" class="user_photo d-inline" alt="{{memory.user}}" />
                     </div>
                    {% endif %} 
          
           </div>           
          </div>      
        </div> 
    </div>
 {% endif %} 
{% endfor %}

</div>

{% endblock %}