{% extends 'base.html'%} {% block content %}
<h3>Edit Your Cafe Memory</h3>
<div class="row edit-memory">
    <div class="col 12  form-wrapper">
        <form action="{{ url_for('update_memory', memory_id=memory._id, page=page) }}" method="POST" class="col s12">
                <div class="row">
                    <div class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                        <i class="material-icons prefix">local_cafe</i>
                        <input type="text" id="cafe_name" class="autocomplete validate" name="cafe_name" 
                         value="{{memory.cafe_name}}"  autocomplete="off" 
                         required="" aria-required="true"
                        oninvalid="this.setCustomValidity('Please enter a date.')"
                        oninput="this.setCustomValidity('')"
                         >
                        <label for="autocomplete-input">Cafe Name</label>
                        </div>
                    </div>
                    </div>
                </div>
    
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">subject</i>
                    <textarea name="description" id="description"
                     class="materialize-textarea validate"
                    required="" aria-required="true"
                    oninvalid="this.setCustomValidity('Please enter a description.')"
                    oninput="this.setCustomValidity('')">{{memory.description}}</textarea>
                    <label for="icon_telephone">memory Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">camera_alt</i>
                    <input type="text" name="photo"  alt="photo" value="{{memory.photo}}"
                    class="validate"  required="" aria-required="true"
                    oninvalid="this.setCustomValidity('Please enter link to the photo.')"
                    oninput="this.setCustomValidity('')" />

                    {% if memory.photo %}
                    <div class="memory-photo-wrapper">
                    <img src="{{memory.photo}}" alt="" class=" memory-photo">
                    </div>   
    
                    {% endif %}
                    <label for="icon_telephone">Photo</label>
                </div>
            </div> 
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">today</i>
                    <input id="date" name="date" type="text" class="datepicker" value = "{{ memory.ukdate }}"
                    class="validate"  required="" aria-required="true"
                    oninvalid="this.setCustomValidity('Please enter a date.')"
                    oninput="this.setCustomValidity('')" 
                    >
                    <label for="icon_prefix">Date</label>
                </div>
            </div>
    
          <div class="col s12 ">
            <i class="material-icons prefix">rate_review</i>
                {% for i in range(5) %}
                {% set count = i+1 %}
                    <input id="ratings{{ count }}" name="ratings" type="radio" value="{{ count }}"  {% if  count == 5  %} checked {% endif %}     />  
                    <label for="ratings{{ count }}">  
                            {% for i in range( count ) %}
                              <i class="material-icons">star</i> 
                            {% endfor %}
                    </label>
                {% endfor %}
        </div>
            <div class="row">
                <div class="switch">
                    <label>
                        {% if memory.is_private %}
                            <input id="is_private" name="is_private" type="checkbox" checked>
                        {% else %}
                            <input id="is_private" name="is_private" type="checkbox">
                        {% endif%}
                    <span class="lever"></span>
                    Is Private
                    </label>
                </div>
            </div>
            <div class="row">
                <button class="btn waves-effect waves-light" type="submit" name="action">Save
                    <i class="material-icons right">playlist_add</i>
                </button>
            </div>
        </form>
    </div>   
</div>


<script type="text/javascript">
    $(document).ready(function() {
    // I left this code as this is includins Jinja code, which is generating json code.
    let cafenames = JSON.parse({{ cafenames|tojson|safe }}); 
     autoCompleteCafe (cafenames);
  });

</script>
{% endblock %}