{% extends 'base.html' %} {% block content %}
<html>
    <head>

    </head>
    <body>

<div class="row">
 {% for memory in memories %}
    {% if not  memory.is_private  %}
        <div class="col-sm-4 ">
                <img src="{{memory.photo}}" alt="" class="memory_photo">
                <h2>{{memory.cafe_name}}</h2>
                    <p>{{memory.description}}</p>
                    <p>{{memory.date}} </p>  
                    <p>Rating:{{memory.rating}} </p>  
                    {% if  memory.user == session.user %}   
                     <p>your own post</p>
                         <img src="{{ memory.userphoto }}" class="user_photo" alt="">
                    {% else %} 
                      <p>{{memory.user}}</p>
                        <img src="{{ memory.userphoto }}" class="user_photo" alt="">

                    {% endif %} 

        </div>  
    {% endif %} 
{% endfor %}
</div>    
    </body>
</html>
{% endblock %}