{% extends 'base.html' %} {% block content %}
<html>
    <head>

    </head>
    <body>
<h3>This is a social network site to share your cafe memories.</h3>

 {% for memory in memories %}
    {% if not  memory.is_private  %}
        <div class="memory-card">
        <div class="date text-center">
           {{memory.date}} 
        </div>
        <div class="row">
      

           <div class="col-sm-4 text-center">
     
                 <div class="memory-photo-wrapper">
                 <a href="{{url_for('cafe', cafe_id = memory.cafe_id)}}">
                   <img src="{{memory.photo}}" alt="" class=" memory-photo">
                  </a> 
                 </div> 
                    <h2>{{memory.cafe_name}}</h2>
                     
           </div>
      
   
          <div class="col-sm-8"> 
          
           <div class="cafe-description"><p>{{memory.description}}</p></div> 
          
        
            
                    {% if  memory.user == session.user %}   
                     <p class="yourself d-inline">{{memory.user}}</p>
                    <img src="{{ memory.userphoto }}" class="user_photo d-inline" alt="">
                    {% else %} 
                      <p class="d-inline">Posted by:{{memory.user}}</p>
                    <img src="{{ memory.userphoto }}" class="user_photo d-inline" alt="">

                    {% endif %} 
          
          
          
           </div>           
              </div>      
                
                   

        </div>  
    {% endif %} 
{% endfor %}

 {{ pagination.links }}
    </body>
</html>
{% endblock %}