{% extends 'base.html' %} {% block content %}
<html>
    <head>

    </head>
    <body>

    <h1>Your Cafe Memories </h1>
    

<div class="row">

{% if memories.count() == 0 %}
No memories

{% else %}

<div class="sorter">
    <div class="row">
        <div class="col-sm-12">
            <ul class="inlineblock">
            <li>Sort by</li>
            <li><a class="sort"  href="{{url_for('your_memories', sort = 'date', order='asc')}}">Oldest first</a></li>
            <li><a class="sort"  href="{{url_for('your_memories', sort = 'date', order='desc')}}">Recent first</a></li>
            <li><a class="sort"  href="{{url_for('your_memories', sort = 'ratings', order='desc')}}">Best rated</a></li>
            <li><a class="sort"  href="{{url_for('your_memories', sort = 'cafe_name', order='asc')}}">Cafe name A-Z</a></li>
            </ul>
        </div>
    </div>
</div>


 {{ pagination.links }}
   {% for memory in memories %}
   
          <div class="col-lg-6 col-sm-12">
 
               <div class="memory-card">
        <div class="date text-center">
           {{memory.date}} 
        </div>
        <div class="row">
           <div class="col-sm-6 text-center">
                 <div class="memory-photo-wrapper">
                 <a href="{{url_for('cafe', cafe_id = memory.cafe_id)}}">
                   <img src="{{memory.photo}}" alt="" class=" memory-photo">
                  </a> 
                    <h2><i class="tiny material-icons">local_cafe</i>{{memory.cafe_name}}</h2>
    
                 </div> 
           </div>
          <div class="col-sm-6"> 

       {% if memory.ratings %} 
             <div class="ratings">
                {% if memory.ratings == "5" %} 
                   <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                {% elif memory.ratings == "4" %}
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                  {% elif memory.ratings == "3" %}
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                  {% elif memory.ratings == "2" %}
                      <i class="material-icons">star</i><i class="material-icons">star</i>
                  {% elif memory.ratings == "1" %}
                   <i class="material-icons">star</i>
                {% endif %}
                </div>
            {% endif %}

           <div class="cafe-description"><p>{{memory.description}}</p></div> 

                <a href="{{url_for('edit_memory', memory_id=memory._id, page='yourmemories')}}" class="waves-effect waves-light btn btn_small ">Edit</a>       
                <a href="{{url_for('delete_memory', memory_id=memory._id, page='yourmemories')}}" class="waves-effect waves-light btn btn_small">Delete</a>
       
           </div>           
          </div>      
        </div>        
      
 
      
        </div> 
 
{% endfor %}



{% endif %}
 
</div>  


 {{ pagination.links }}

    </body>
</html>
{% endblock %}