{% extends 'base.html' %} {% block content %}
<h1 class="d-inline page-title">Your Cafe Memories  </h1>
<a href="{{url_for('get_memories', sort = 'date', order='desc', is_yours='no')}}"
 class="float-right d-inline memories-button">Everyone's Memories<i class="tiny material-icons">arrow_forward</i>
</a>
<div class="row">
{% if memories|length == 0 %}
<div class="sorter">
    <div class="row">
        <div class="col-sm-12">
            You have no memories posted yet. To add one, please click the button below.
            <br /> <br />
           <a class="button btn btn-default" href="{{ url_for('add_memory') }}" >Add your first memory</a>
        </div>
</div>
</div>
{% else %}
<div class="sorter">
    <div class="row">
        <div class="col-sm-12">
            <ul class="inlineblock">
            <li>Sort by</li>
            <li><a class="sort"  href="{{url_for('get_memories', sort = 'ratings', order='desc', is_yours='yes')}}">Best rated</a></li>
            <li><a class="sort"  href="{{url_for('get_memories', sort = 'cafe_name', order='asc', is_yours='yes')}}">Cafe name A-Z</a></li>
            <li><a class="sort"  href="{{url_for('get_memories', sort = 'cafe_name', order='desc', is_yours='yes')}}">Cafe name Z-A</a></li>            
             <li><a class="sort"  href="{{url_for('get_memories', sort = 'area_name', order='asc', is_yours='yes')}}">Area name A-Z</a></li>
            <li><a class="sort"  href="{{url_for('get_memories', sort = 'area_name', order='desc', is_yours='yes')}}">Area name Z-A</a></li> 
            <li><a class="sort"  href="{{url_for('get_memories', sort = 'date', order='desc', is_yours='yes')}}">Recent first</a></li>
            <li><a class="sort"  href="{{url_for('get_memories', sort = 'date', order='asc', is_yours='yes')}}">Oldest first</a></li>
            </ul>
        </div>
    </div>
</div>

 {{ pagination.links }}
   {% for memory in memories %}
        <div class="col-lg-6 col-sm-12">
        <div class="memory-card">
            <div class="date text-center">
                <p class="d-inline"> {{memory.ukdate}}</p> <p class="d-inline float-right"><i class="tiny material-icons">map</i>{{ memory.area_name }}</p> 
            </div>
            <div class="row">
            <div class="col-sm-6 text-center">
                <div class="memory-photo-wrapper">
                    <a href="{{url_for('cafe', cafe_id = memory.cafe_id)}}">
                            <img src="{{memory.photo}}" alt="" class=" memory-photo">
                    </a> 
                    <a href="{{url_for('cafe', cafe_id = memory.cafe_id)}}">
                        <h2><i class="tiny material-icons">local_cafe</i>{{memory.cafe_name}}</h2>
                    </a>
                </div> 
            </div>
          <div class="col-sm-6"> 
           {% if memory.ratings %} 
             <div class="ratings">
                {% if memory.ratings == "5" %} 
                   <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                {% elif memory.ratings == "4" %}
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                  {% elif memory.ratings == "3" %}
                    <i class="material-icons">star</i><i class="material-icons">star</i>
                    <i class="material-icons">star</i>
                  {% elif memory.ratings == "2" %}
                      <i class="material-icons">star</i><i class="material-icons">star</i>
                  {% elif memory.ratings == "1" %}
                   <i class="material-icons">star</i>
                {% endif %}
                </div>
            {% endif %}
           <div class="cafe-description"><p>{{memory.description}}</p></div> 
                <a href="{{url_for('edit_memory', memory_id=memory._id, page='yourmemories')}}" class="waves-effect waves-light btn btn_small ">Edit</a>       
                <a href="{{url_for('delete_memory', memory_id=memory._id, page='yourmemories')}}" class="waves-effect waves-light btn btn_small">Delete</a>
           </div>           
          </div>      
        </div>          
    </div> 
    {% endfor %}
{% endif %}
</div>  
 {{ pagination.links }}
{% endblock %}